@import '../../mixins';

.topic-cloud-container {
  padding-bottom: 150px;
  padding-top: 150px;
}
.topic-cloud {
  margin-top: 70px;
}

.topic-cloud-header ul {
  margin-left: 0;
  margin-bottom: 25px;
  padding: 0;
}
.topic-cloud-header li {
  display: inline-block !important;
  font-family: $font-family-primary !important;
  //   margin-bottom: 25px;
  line-height: 2;
}

.topic-cloud-header-specialities {
//   margin-right: 15px;
  font-size: 1.3rem;
  font-family: $font-family-primary !important;
  margin-top: 0;
  justify-content: center;

  //   @media (max-width: $screen-xs-min) {
  //     font-size: 20px !important;
  //   }
}
.topic-cloud-header-specialities::after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  bottom: -4px;
  left: auto;
  right: 0;
  height: 3px;
  background: $sales-page-blue;
  transition: width 0.8s ease;
}

.topic-cloud-titles {
  font-family: $font-family-primary;
  color: #a5a5a5;
}

.topic-cloud-titles span {
  margin-right: 15px;
  font-size: 1.2rem;
  line-height: 60px;
  font-family: $font-family-primary !important;
  margin-bottom: 5px;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.topic-cloud-specialty-selected {
  color: black;
  font-weight: bold;
}

.topic-cloud-title-selected {
  font-weight: bold;
}
.topic-cloud-title-selected ::after {
  right: auto;
  left: 0;
  width: 100%;
}

.topic-cloud-spacialty-browse {
  font-weight: bold;
  font-size: 1.65rem;
  line-height: 2.4rem !important;
  margin-right: 15px;
  margin-bottom: 10px;
  // @media (max-width: $screen-xs-min) {
  //     font-size: 30px !important;
  //   }
}
