@import '../../mixins';

.topic-cloud-container {
  padding-bottom: 150px;
  padding-top: 150px;
}
.topic-cloud {
  margin-top: 70px;
}

.topic-cloud-header h4 {
  float: left;
  margin-right: 15px;
  font-size: 35px;
}

.topic-cloud-header ul {
  margin-left: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 1.6em;
}
.topic-cloud-header li {
  font-size: 1.6em;
  line-height: 3.4rem;
  display: inline;
  font-family: $font-family-primary;
}

.topic-cloud-titles {
  font-size: 1.6em;
  font-family: $font-family-primary;
  line-height: 4.5rem;
  color: $gray-darken-2;
}
