@import '../../mixins';

.navbar {
  position: absolute;
  min-height: 70px;
  border: 1px solid transparent;
  //   background-color: rosybrown !important;
  background-color: transparent !important;
  top: 0;
  width: 100%;
  flex-grow: 1;
  box-shadow: none !important;
}

.navbar.MuiAppBar-positionFixed {
  position: absolute !important;
}

.hearder-backg {
  position: fixed;
  top: 0;
  z-index: -1;
  background: url('../../images/home.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.navbar-container {
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: $screen-sm-min) {
    text-align: center;
  }
}

.navbar-header {
  position: relative;
  margin-top: 25px;
  @media (max-width: $screen-sm-min) {
    display: none;
  }
}

.navbar-header-mobile {
  display: none;
  @media (max-width: $screen-sm-min) {
    display: flex;
    position: absolute;
    top: 0;
    left: 35vw;
  }
}

.navbar-menu-mobile {
  display: none;
  @media (max-width: $screen-sm-min) {
    z-index: 4;
    display: flex;
  }
}

.navbar-brand {
  font-size: 40px;
  line-height: 25px;
  height: 70px;
  background-color: transparent;
  text-decoration: none !important;
  color: white;
  font-weight: bold;
  margin-left: 15px;
  padding-top: 25px !important;
  font-family: $font-family-brand;
  @media (max-width: $screen-sm-min) {
    margin-left: 0;
    font-size: 25px;
  }
}

a:hover {
  text-decoration: none !important;
  color: white !important;
}

.navbar-brand-span {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: transparent;
  text-decoration: none;
  // color: $logo-text-color;
  margin-left: 15px;
  font-family: $font-family-brand;
  @media (max-width: $screen-sm-min) {
    margin-left: 0;
    font-size: 13px;
  }
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.navbar-nav {
  margin: 11.25px -15px;
}
.navbar-nav li {
  float: left;
}
.navbar-right li a {
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  padding: 6px 24px;
  background-color: transparent;
  text-decoration: none;
  color: white;
}

.navbar-sign-in a {
  text-decoration: none;
  padding: 8px 24px !important;
  background-color: white !important;
  color: black !important;
  font-size: 14px;
  font-weight: 700;
  margin: 8px 24px 0 24px;
  @media (max-width: $screen-sm-min) {
    background-color: black !important;
    color: white !important;
  }
}

.navbar-right {
  float: right !important;
  margin-right: -15px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  margin-top: 15px;
}

.navbar-education a {
  padding-left: 24px;
  padding-right: 24px;
}

.navbar-hippo-products {
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.nav li a {
  display: block;
  position: relative;
}

.navbar-education {
  padding-right: 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  border-right: 1px solid #e1e1e1;
  border-radius: 0;
  @media (max-width: $screen-sm-min) {
    display: none;
  }
}
