@import './mixins';


.page-content {
  margin: auto;
  max-width: $screen-xl-min;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 20rem;

  background: url('./images/home.png');
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $screen-md-min) {
    min-height: 50rem;
  }
}

.header-container__headline {
  text-align: center;
  color: white;
  width: 80%;
}


.page-content-paddingLeft {
  @media (min-width: $screen-xs-min) {
    padding-left: 160px;
  }
}

.page-content-paddingRight {
  @media (min-width: $screen-xs-min) {
    padding-right: 160px;
  }
}