@import '../../mixins';

.image-grid {
  display: flex;
  flex-wrap: wrap;
}

.image-grid__image {
  width: 50%;
  @media (min-width: $screen-md-min) {
    width: calc(100% / 3);
  }
}

.imgSection-header {
  width: 100%;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
  opacity: 0;
  will-change: transform, opacity;
  transform: translateX(-50px);
  @media (min-width: $screen-xs-min) {
    width: 60%;
  }
}
